@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding: 0;
    margin: 0;
    background-image: url("../public/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.setNavBar{
    background: #fff!important;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hiddenUp{
    display: none;
}